.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
 
}
.home-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
    
}

.home-description{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   padding: 1rem;
   

    
}
.home-description >p {
    padding: 1rem;
    font-weight: 500;
}
span{
    color: rgb(223, 40, 40);
}
h1{
    padding: 1rem;
    font-weight: 500; 
}
.prada{
    width: 45%;
    padding: 1rem;
}
.prada img{
    width: 90%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}

button{
margin-top: 2rem;
padding: 10px;
border-radius: 7px;
border: none;
outline: none;
background: #38c346;
color: #f6f0f0;
width: 35%;
cursor: pointer;

}
button:hover{
    transition: 1.05s;
}