.slider{
    height: 80%;
    width: 100vw;
    position: relative;

}
.slider-container{
    height: 80vh;
    display: flex;
    transition: all 1s ease;
}
.img{
    width: 100vw;
    height: 100%;
    object-fit: cover;

}
.icons{
    position: absolute;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
}
.icon{
    color: rgb(204, 10, 10);
    background: rgb(192, 190, 190);
    border-radius: 30px;
    align-items: center;
    margin: 1rem;
    padding: 10px;
    font-size: 30px;
}