.about-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}



.about-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin: 10px;
    padding: 20px;
    width: 60%;
    height: auto;
    border-radius: 8px;

}
.about-inputs-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    padding: 30px;
    background: #ddd;
    gap: 1rem;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, .3);
    border-radius: 7px;
    transition: transform .5s;
    
}


h2{
    color: slategray;
    font-size: 1.3em;
}

.image3{
  
    display: flex;
    flex-direction: column;
    
}
.image3 img{
    width: 70%;
    top: 0%;
   
}
.image3 > p{
    padding-top: 2rem;
    color: rgb(20, 20, 20);
    font-size: 2rem;
    font-style: oblique;
}
