.homepage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding-top: 100px;

   
    
}
.image{
    width: 45%;
    padding-left: 2rem;
  

}
.image img{
    width: 65%;
    border-radius: 30px;
    opacity: .7;
    margin-left: 6rem;
}

.land-left{
    width: 45%;
}

@media only screen and (max-width: 600px){
    .homepage {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
        gap: 7px;
        padding: 20px;
    
       
        
    }
    .image{
       display: none;
      
    
    }
    .land-left{
        width: 100%;
    }
    
    
}