.navbar-container{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #d9d9d9;
    box-shadow: 0 10px 15px 10px rgba(0,0,0,0.2);
}
.nav-menu{
    font-size: 50px;
    color: #0f0e0e;
    display: none;
}.blog_logo {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.blog_logo img{
    width: 100%;
    border-radius: 12px;
    left: 40px;
   
    
}


.blog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;

}
.blog a,
 .blog-menu a{
    position: relative;
    text-decoration: none;
    list-style: none;
    padding:  0 30px ;
    color: black;
    font-weight: 600;
    font-style: italic;
}

.blog a::after{
    content: '';
    position: absolute;
    left: 4px;
    bottom: -6px;
    width: 80%;
    height: 3px;
    background: #0f0e0e;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.blog a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.cart img{
    width: 17%;
    
    left: 40px;
    align-items: center;
}
.shopping-cart{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.counter{
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
}
.cart a{
    text-decoration: none;
    list-style: none;
    padding: 30px;
    color: black;
    font-weight: 600;
    
}

.navbar-right{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding: 20px 24px;
}
.profileImage{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
@media only screen and (max-width: 500px){
    .blog{
        display: none;
    }
    .blog-menu{
        position: absolute;
        bottom: -110%;
        right: 0%;
        background-color: #fffdfd;
        backdrop-filter: blur(20px);
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        box-shadow: 0 7px 12px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    .blog-menu a{
        position: relative;
        text-decoration: none;
        list-style: none;
        padding:  0 30px ;
        color: black;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 7px;
        font-style: italic;
    }
    
    
    .nav-menu{
        display: block;
    }
    .blog_logo img{
        border-radius: 12px;
        /* margin-bottom: 1rem; */
        
    }
}