.dashboard{
  display: flex;
  height: 100vh;
  padding-top: 100px;
}
.sidenav{
  border-right: 1px solid gray;
  height: calc(100vh - 100px);
  position: fixed;
  overflow-y: auto;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

}
h3 {
  margin: 0 0 1rem 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 17px;
}

a {
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 14px;
}
.content{
  margin-left: 200px;
  padding: 2rem 3rem;
  width: 100%;
}
.link-active{
  color: #4b70e2;
}
.link-inactive{
  color: rgb(97, 97, 97);
}